<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors />
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRoadworkService" maxReceivedMessageSize="655360" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:31119/ServiceImplementation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoadworkService"
                contract="RoadworkServiceReference.IRoadworkService" name="BasicHttpBinding_IRoadworkService" />
        </client>
    </system.serviceModel>
</configuration>