################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnitTestingWorkshop/v16/.suo
/WritingTestableCode/SmartHomeControllerTests/obj
/WritingTestableCode/SmartHomeExample/.vs/SmartHomeExample/v16
/WritingTestableCode/SmartHomeExample/bin/Debug/netcoreapp2.2
/WritingTestableCode/SmartHomeExample/obj
/WritingTestableCode/SmartHomeExample.Tests/bin/Debug/netcoreapp2.2
/WritingTestableCode/SmartHomeExample.Tests/obj
/.vs
/Lab#1 - Test Doubles/Before/bin/Debug/netstandard2.0
/Lab#1 - Test Doubles/Before/obj
/WritingTestableCode/SmartHomeExample/.vs/SmartHomeExample/DesignTimeBuild/.dtbcache
/Lab#1 - Test Doubles/After/.vs/TestDoubles
/Lab#1 - Test Doubles/Before/.vs/TestDoubles
/Lab#1 - Test Doubles/UnitTestProject/obj
/Lab#1 - Test Doubles/After/bin/Debug/netstandard2.0
/Lab#1 - Test Doubles/After/obj
/Lab#1 - Test Doubles/UnitTestProject/bin/Debug/netcoreapp2.2
/TestingLegacyCode/UnitTestingLegacyTechniques/LegacyCode/.vs/LegacyCode/v16/Server/sqlite3
/TestingLegacyCode/UnitTestingLegacyTechniques/LegacyCode/LegacyCode/obj
/TestingLegacyCode/UnitTestingLegacyTechniques/LegacyCode/LegacyCode.Tests/obj
/TestingLegacyCode/UnitTestingLegacyWithMSFakes/Before/EnterpriseLogger/obj
/Lab#5 - MSFakes/UnitTestingWithLegacyHandsOn/.vs/ComplexDependencies
/Lab#5 - MSFakes/UnitTestingWithLegacyHandsOn/Traffic.AdvancedTechniques/obj
/Lab#5 - MSFakes/UnitTestingWithLegacyHandsOn/Traffic.Core/obj
/Lab#5 - MSFakes/UnitTestingWithLegacyHandsOn/Traffic.RoadworkService/obj
/Lab#5 - MSFakes/UnitTestingWithLegacyHandsOn/Traffic.UI/obj
/TestingLegacyCode/UnitTestingLegacyTechniques/LegacyCode/.vs/LegacyCode/v16
